body { background: #e6cb1b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-session-0 { color: #8776d3; font-size: 14px; margin-bottom: 5px; }
.block-product-1 { color: #6dfe0; font-size: 17px; margin-bottom: 5px; }
.block-config-2 { color: #b6db68; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #c5ba9d; font-size: 17px; margin-bottom: 5px; }
.block-filter-4 { color: #10cbfe; font-size: 13px; margin-bottom: 5px; }
.block-uploader-5 { color: #1b47d1; font-size: 17px; margin-bottom: 5px; }
.block-config-6 { color: #54e932; font-size: 21px; margin-bottom: 5px; }
.block-database-7 { color: #a243c7; font-size: 13px; margin-bottom: 5px; }
.block-order-8 { color: #4647da; font-size: 16px; margin-bottom: 5px; }
.block-helper-9 { color: #402d64; font-size: 20px; margin-bottom: 5px; }
.block-session-10 { color: #e27007; font-size: 16px; margin-bottom: 5px; }
.block-product-11 { color: #70cf9a; font-size: 19px; margin-bottom: 5px; }